apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
  namespace: argocd
  labels:
    app.kubernetes.io/app: app-of-apps
spec:
  project: default
  source:
    repoURL: git@github.com:przemekgorzynski/ArgoCDApps.git
    targetRevision: develop
    path: .

  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true