[defaults]
inventory = ./inventory.yml
roles_path = ./roles
nocows = True
host_key_checking = False
deprecation_warnings = False
force_color = True
pipelining = False
callback_whitelist = profile_task

remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp

fact_caching = jsonfile
fact_caching_timeout = 3600
fact_caching_connection = .ansible_facts_cache

stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
timeout = 60

[privilege_escalation]
become_timeout = 60