- name: Install Helm via get_helm.sh script
  tags:
    - helm
  block:
    - name: Download Helm install script
      get_url:
        url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
        dest: /tmp/get_helm.sh
        mode: '0700'
        force: no
    - name: Execute Helm install script
      command: /tmp/get_helm.sh
      args:
        creates: /usr/local/bin/helm

# -----------------------------------------
# ArgoCD Namespace and Secrets Setup
# -----------------------------------------

- name: Create ArgoCD namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ k3s.argocd.namespace }}"
  environment:
    KUBECONFIG: "{{ k3s.kubeconfig_file }}"

- name: Create ArgoCD SSH repo credentials secret
  kubernetes.core.k8s:
    state: present
    namespace: "{{ k3s.argocd.namespace }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: argocd-apps-ssh-private-key
        namespace: "{{ k3s.argocd.namespace }}"
        labels:
          argocd.argoproj.io/secret-type: repo-creds
      stringData:
        type: git
        url: git@github.com:przemekgorzynski/ArgoCDApps.git
        sshPrivateKey: |
          {{ ARGOCD_PRIVATE_KEY }}
  environment:
    KUBECONFIG: "{{ k3s.kubeconfig_file }}"
  no_log: true

- name: Install ArgoCD with Helm
  block:
    - name: Ensure temporary directory for ArgoCD values
      ansible.builtin.file:
        path: /argocd_values
        state: directory
        mode: '0755'

    - name: Copy ArgoCD values files to /tmp
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "/argocd_values/{{ item | basename }}"
        mode: '0644'
      loop: "{{ k3s.argocd.values_files }}"

    - name: Install/upgrade ArgoCD using Helm
      ansible.builtin.shell: |
        helm repo add argo https://argoproj.github.io/argo-helm
        helm repo update

        helm upgrade --install argocd argo/argo-cd \
          --namespace "{{ k3s.argocd.namespace }}" \
          {% for f in k3s.argocd.values_files %}-f /argocd_values/{{ f | basename }} {% endfor %}
      environment:
        KUBECONFIG: "{{ k3s.kubeconfig_file }}"
      args:
        executable: /bin/bash
      become: false

# -----------------------------------------
# ArgoCD App of apps
# -----------------------------------------

- name: Deploy Argo config
  block:
    - name: Copy Argo manifest to temp location
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "/argocd_values/{{ item | basename }}"
        mode: '0644'
      loop:
        - "{{ role_path }}/files/argo_app_of_apps.yml"
    - name: Apply Argo manifest
      kubernetes.core.k8s:
        kubeconfig: "{{ k3s.kubeconfig_file }}"
        state: present
        src: "{{ item }}"
      loop:
        - "/argocd_values/argo_app_of_apps.yml"

# -----------------------------------------
# ArgoCD External secrets
# -----------------------------------------

    - name: Ensure external-secrets namespace exists
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: external-secrets
      environment:
        KUBECONFIG: "{{ k3s.kubeconfig_file }}"

    - name: Ensure Doppler token secret exists
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: doppler-token-auth-api
            namespace: external-secrets
          type: Opaque
          stringData:
            dopplerToken: "{{ DOPPLER_APPS_TOKEN }}"
      environment:
        KUBECONFIG: "{{ k3s.kubeconfig_file }}"
