- name: Install Helm via get_helm.sh script
  tags:
    - helm
  block:
    - name: Download Helm install script
      get_url:
        url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
        dest: /tmp/get_helm.sh
        mode: '0700'
        force: no  # do not re-download if it already exists
    - name: Execute Helm install script
      command: /tmp/get_helm.sh
      args:
        creates: /usr/local/bin/helm  # Skip if helm is already installed here

- name: Execute ArgoCD installation script
  ansible.builtin.shell: |
    helm repo add argo https://argoproj.github.io/argo-helm
    helm repo update

    HASHED_ADMIN_PASS=$(htpasswd -nbBC 10 "" "$ARGOCD_ADMIN_PASS" | tr -d ':\n')
    helm list -A
    helm upgrade --install argocd argo/argo-cd \
      --namespace "{{ k3s.argocd.namespace }}" \
      --create-namespace \
      --set server.service.type=NodePort \
      --set server.service.nodePortHttps="{{ k3s.argocd.https_node_port }}" \
      --set server.service.nodePortHttp="{{ k3s.argocd.http_node_port }}" \
      --set-string "configs.repositories.repo1.url={{ k3s.argocd.connected_repo }}" \
      --set-string "configs.repositories.repo1.type=git" \
      --set-string "configs.repositories.repo1.name=connected-repo" \
      --set-string "configs.repositories.repo1.sshPrivateKey=$ARGOCD_PRIVATE_KEY" \
      --set-string "configs.secret.argocdServerAdminPassword=$HASHED_ADMIN_PASS"
  environment:
    KUBECONFIG: "{{ k3s.kubeconfig_file }}"
    ARGO_SSH_PRIVATE_KEY: "{{ ARGOCD_PRIVATE_KEY }}"
    ARGOCD_ADMIN_PASS: "{{ ARGOCD_ADMIN_PASS }}"
  args:
    executable: /bin/bash
  become: false

- name: Deploy Argo config
  block:
    - name: Copy Argo manifest to temp location
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "/tmp/{{ item | basename }}"
        mode: '0644'
      loop:
        - "{{ role_path }}/files/argo_app_of_apps.yml"
    - name: Apply Argo manifest
      kubernetes.core.k8s:
        kubeconfig: "{{ k3s.kubeconfig_file }}"
        state: present
        src: "{{ item }}"
      loop:
        - "/tmp/argo_app_of_apps.yml"
    - name: Remove temporary Argo manifest
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - "/tmp/argo_app_of_apps.yml"

    - name: Ensure external-secrets namespace exists
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: external-secrets
      environment:
        KUBECONFIG: "{{ k3s.kubeconfig_file }}"

    - name: Ensure Doppler token secret exists
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: doppler-token-auth-api
            namespace: external-secrets
          type: Opaque
          stringData:
            dopplerToken: "{{ DOPPLER_APPS_TOKEN }}"
      environment:
        KUBECONFIG: "{{ k3s.kubeconfig_file }}"
