#======================= Global Settings =======================
[global]
workgroup = WORKGROUP
server string = samba
netbios name = {{ inventory_hostname }}
security = user
encrypt passwords = yes
create mask = 0660
directory mask = 0770
map to guest = Bad User

#======================= Share Definitions =======================
[public]
path = {{ samba_shares_partition[0].path }}/public
comment = Public share
writable = yes
browseable = yes
guest ok = yes
guest only = yes
force create mode = 0666
force directory mode = 0777

[shares]
path = {{ samba_shares_partition[0].path }}/shares
comment = Shares
read only = yes
browseable = yes
hide dot files = yes
valid users = @"admins",@"przemek"
write list = @"admins",@"przemek"

[prn]
path = {{ samba_backup_partition[0].path }}/new
comment = Prn
read only = yes
browseable = no
hide dot files = yes
valid users = @"admins",@"przemek"
write list = @"admins",@"przemek"
