---
- name: Update system
  ansible.builtin.apt:
    name: "*"
    state: latest
    update_cache: true
    autoremove: true

- name: Install standard packages
  ansible.builtin.apt:
    name: "{{ standard_packages }}"
    state: present

- name: Ensure Python packages installed on host
  ansible.builtin.pip:
    name: "{{ python_packages }}"
    state: present
    extra_args: "--break-system-packages"

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ hostname }}"

- name: Set timezone to Europe/Warsaw
  community.general.timezone:
    name: "{{ timezone }}"

- name: SSH configure
  tags:
    - ssh
  block:
    - name: Set ssh banner
      ansible.builtin.copy:
        src: files/ssh-banner.net
        dest: /etc/issue.net
        owner: root
        group: root
        mode: '0644'
    - name: Set SSH config files
      ansible.posix.synchronize:
        src: files/sshd_config/
        dest: /etc/ssh/sshd_config.d/
        private_key: "{{ lookup('file', admin_user[0].public_key_path) }}"
        delete: true
        owner: false
        group: false

- name: Add Docker official GPG key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker APT repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present

- name: Install Docker CE and Compose v2
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: yes