version: '3.8'

networks: 
  {{ tools.docker.network.name }}:
    external: true
    driver: bridge

services:
  jellyfin:
    image: {{ tools.jellyfin.image }}:{{ tools.jellyfin.image_tag }}
    container_name: {{ tools.jellyfin.container_name }}
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Warsaw
    networks:
      - tooling
    ports:
      {{ tools.jellyfin.ports }}
    volumes:
      - {{ tooling_dirs[2].path }}:/config
      - {{ tools.jellyfin.media_dirs[0] }}:/media
      - {{ tools.jellyfin.media_dirs[1] }}:/inne_multimedia
      - {{ tools.jellyfin.media_dirs[2] }}:/media_priv
    restart: unless-stopped
