version: '3.8'

networks: 
  {{ tools.docker.network.name }}:
    external: true
    driver: bridge

services:
  jellyfin:
    image: {{ tools.jellyfin.docker_image }}:{{ tools.jellyfin.docker_image_tag }}
    container_name: {{ tools.jellyfin.container_name }}
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Warsaw
    networks:
      - tooling
    ports:
      {{ tools.jellyfin.ports }}
    volumes:
      - jellyfin_volume:/config
      - {{ tools.jellyfin.media_dirs[0] }}:/media
      - {{ tools.jellyfin.media_dirs[1] }}:/inne_multimedia
      - {{ tools.jellyfin.media_dirs[2] }}:/media_priv
    restart: unless-stopped
    healthcheck:
      test: curl -i http://127.0.0.1:8096/health || exit 1
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 10s

volumes:
  jellyfin_volume:
    name: {{ tools.jellyfin.docker_volume_name }}
